body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  color: #333;
  box-sizing: border-box;
}

.appBar {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  color: rgba(0, 183, 255, 1);
}

.image {
  margin-left: 15px;
}


.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
}
.fileInput {
  width: 97% !important;
  margin: 10px 0 !important;
}

.buttonSubmit {
  margin-bottom: 10px !important;
}

.common {
  margin-top: 10px !important;
}

.deleteLeft{
  margin-left: auto !important;
}

div.form-img-wrapper {
  display: block;
}
.form-wrapper {
  max-width: 700px;
  width: 80%;
  margin: 10px auto;
}
/* .boy_image {
  margin-top: 10px;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
} */
.img_wrapper {
  flex: 50% !important;
}

@media screen and (max-width: 412px){
  /* .boy_image {
    width: 90%;
    height: auto;
    margin-left: 5%;
  } */
  .form-img-wrapper {
    display: block;
  }
  .form-wrapper {
    width: 90%;
  }
}